# Assignment 4

In [2]:
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### 1. How to import pandas and check the version?

In [4]:
import pandas as pd
pd.__version__

'1.0.5'

### 2. How to create a series from a list, numpy array and dict?

In [6]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz') 
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [16]:
s = pd.Series(mylist)
print(s)
print(type(s))
print()
s1 = pd.Series(myarr)
print(s1)
print(type(s1))
print()
s2 = pd.Series(mydict)
print(s2)
print(type(s2))

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
<class 'pandas.core.series.Series'>

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
<class 'pandas.core.series.Series'>

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64
<class 'pandas.core.series.Series'>

### 3. How to convert the index of a series into a column of a dataframe?

In [17]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
print(ser[:5])

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [18]:
# Solution
ser_df = pd.DataFrame(ser)
ser_df.reset_index()

   index   0
0      a   0
1      b   1
2      c   2
3      e   3
4      d   4
5      f   5
6      g   6
7      h   7
8      i   8
9      j   9
10     k  10
11     l  11
12     m  12
13     n  13
14     o  14
15     p  15
16     q  16
17     r  17
18     s  18
19     t  19
20     u  20
21     v  21
22     w  22
23     x  23
24     y  24
25     z  25

### 4. How to combine many series to form a dataframe?

In [19]:
# input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [20]:
# using pandas dataframe
ser_df = pd.DataFrame(ser1,ser2).reset_index()
ser_df.head()

   index  0
0      0  a
1      1  b
2      2  c
3      3  e
4      4  d

In [21]:
# using pandas concat
ser_df = pd.concat([ser1, ser2], axis = 1)
ser_df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

### 5. How to assign name to the series’ index?

In [ ]:
# input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [22]:
ser.rename('Alphabets')

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
Name: Alphabets, dtype: int64

### 6. How to get the items of series A not present in series B?

In [23]:
# input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [24]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### 7. How to get the items not common to both series A and series B?

In [26]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [27]:
# using numpy union and intersection
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [31]:
ser = np.random.RandomState(100).normal(10, 5, 25)

array([ 1.25117263, 11.71340202, 15.76517901,  8.73781982, 14.90660393,
       12.57109421, 11.10589835,  4.64978335,  9.05252085, 11.27500722,
        7.70986507, 12.17581744,  7.08202475, 14.08423536, 13.36360403,
        9.47794428,  7.34359812, 15.14866343,  7.80932189,  4.40840877,
       18.0949083 , 17.70802587,  8.7406043 ,  5.78782131, 10.92259345])

In [32]:
ser.describe()

count    26.000000
mean     12.500000
std       7.648529
min       0.000000
25%       6.250000
50%      12.500000
75%      18.750000
max      25.000000
dtype: float64

### 9. How to get frequency counts of unique items of a series?

In [35]:
 ser = pd.Series(np.take(list('abcdefgh') ,np.random.randint(8, size=30)))

In [36]:
ser.value_counts()

h    8
b    6
c    5
f    4
e    4
g    2
d    1
dtype: int64

### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [48]:
# input
np.random.RandomState(100)
s = pd.Series(np.random.randint(1, 5, [12]))
s

0     1
1     3
2     3
3     3
4     2
5     4
6     1
7     3
8     1
9     2
10    4
11    4
dtype: int32

In [49]:
s.value_counts()
s[~s.isin(s.value_counts().index[:2])] = 'Other'
s
# we do value_counts to see the repetitions for each value, then we do ~ser.isin value_counts, filter by index the first 2 and = "Other renames the values"

0     Other
1         3
2         3
3         3
4     Other
5         4
6     Other
7         3
8     Other
9     Other
10        4
11        4
dtype: object

### 11. How to bin a numeric series to 10 groups of equal size?

In [50]:
ser = pd.Series(np.random.random(20))
ser

0     0.543799
1     0.348218
2     0.071812
3     0.783281
4     0.427225
5     0.383382
6     0.865631
7     0.961999
8     0.838571
9     0.568280
10    0.107258
11    0.875245
12    0.542026
13    0.028594
14    0.242743
15    0.713681
16    0.445719
17    0.088521
18    0.010560
19    0.088370
dtype: float64

In [53]:
pd.qcut(ser, q = [0, .10, .20, .30, .40, .50, .60, .70, .80, .90, 1], labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      7th
1      4th
2      2nd
3      8th
4      5th
5      5th
6      9th
7     10th
8      9th
9      7th
10     3rd
11    10th
12     6th
13     1st
14     4th
15     8th
16     6th
17     3rd
18     1st
19     2nd
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

### 12. How to convert a numpy array to a dataframe of given shape? Reshape the series
##### ser into a dataframe with 7 rows and 5 columns
#### ser = pd.Series(np.random.randint(1, 10, 35))

In [54]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [58]:
pd.DataFrame(np.array(ser).reshape(7,5))

   0  1  2  3  4
0  8  4  7  1  6
1  4  7  4  9  1
2  2  7  5  9  4
3  5  7  1  8  2
4  7  3  6  6  8
5  5  8  4  9  3
6  5  9  5  4  3

### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [59]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, 10))
ser

0    2
1    1
2    1
3    2
4    1
5    4
6    3
7    3
8    4
9    2
dtype: int32

In [60]:
ser.where(lambda x: x%3 == 0).dropna()

6    3.0
7    3.0
dtype: float64

### 14. How to extract items at given positions from a series?
#### From ser, extract the items at positions in listpos.
#### ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz')) pos = [0, 4, 8,14, 20]

In [61]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8,14, 20]

In [67]:
ser.iloc[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

### 15. How to stack two series vertically and horizontally ?

In [68]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [71]:
#vertical
print(pd.concat([ser1,ser2], axis=0))
#horizontal
print(pd.concat([ser1,ser2], axis=1))

0    0
1    1
2    2
3    3
4    4
0    a
1    b
2    c
3    d
4    e
dtype: object
   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### 16. How to convert the first character of each element in a series to uppercase?
##### ser = pd.Series(['how', 'to', 'kick', 'ass?']

In [73]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [74]:
[i.title() for i in ser]

['How', 'To', 'Kick', 'Ass?']

### 17. How to calculate the number of characters in each word in a series?
#### Input: ser = pd.Series(['how', 'to', learn, 'pandas?'])

In [76]:
ser = pd.Series(['how', 'to', 'learn', 'pandas?'])

In [78]:
[len(i) for i in ser]

[3, 2, 5, 7]

### 18. How to convert a series of date-strings to a timeseries?
#### Input: ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05','2015-06-06T12:20'])
#### Desired Output:
#### 0 2010-01-01 00:00:00
#### 1 2011-02-02 00:00:00

In [79]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05','2015-06-06T12:20'])

In [81]:
pd.to_datetime(ser)

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]